@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap&subset=latin-ext');
.gallery-image img {
    width: 100%;
}
header .header-banner {

display: table;
background-image: url("sporkHead.jpg");
width: 100%;
height: calc(100vh - 500px);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}
header h1 {

font-family: "Gentium Basic", serif;
font-weight: 700;
font-style: italic;
font-size: 60px;
color: #ffffff;
line-height: 170px;
text-transform: uppercase;
text-shadow: 2px 2px 8px #000000;

}

header h2 {

font-family: "Open Sans", sans-serif;
font-weight: 500;
font-size: 15px;
letter-spacing: 5px;
line-height: 30px;
color: white;
text-transform: uppercase;

}

header .logo {

display: table-cell;
vertical-align: middle;
text-align: center;
padding: 10px 0 20px 0;

}
header nav ul {

display: block;
margin: 0 auto;
text-align: center; /*IE*/
width: fit-content;

}

header nav ul li {

display: inline-block;
padding: 16px 16px;

}
nav ul li a {

font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 18px;
letter-spacing: 3px;
color: #172029;
text-transform: uppercase;
text-decoration: none;

}
footer {

width: calc(100% - 80px);
padding: 40px 40px;
background-color: #172029;
margin-top: 20px;
overflow: hidden;

}
.disclaimer {

display: none;

}

footer ul {

width: fit-content;
float: left;
padding-left: 0px;

}

footer ul li {

display: block;
padding: 0 0 10px 0;

}

footer ul li p {

font-family: "Open Sans", sans-serif;
font-weight: 300;
font-size: 16px;
letter-spacing: 2px;
color: #ffffff;
text-transform: uppercase;

}

footer ul li a {

font-family: "Open Sans", sans-serif;
font-weight: 400;
font-size: 14px;
letter-spacing: 3px;
color: #ffffff;
text-transform: uppercase;
text-decoration: none;

}
.footer-links{
    width: 50%;
}
.footer-sm {

width: 50%;
float: right;
line-height: 50px;
text-align: right;
}

.footer-sm img {

width: 50%;
margin-top: 10px;
margin-bottom: 50px;
}

.footer-sm p {
font-family: "Open Sans", sans-serif;
font-weight: 300;
font-size: 12px;
letter-spacing: 2px;
color: #ffffff;
}

hr {

color: #4f5663;
border-width: 2px;
width: 30%;
margin: 0 auto;
margin-bottom: 5px;

}

.gallery-h2 {

font-family: "Gentium Basic", sans-serif;
font-weight: 600;
font-size: 28px;
letter-spacing: 2px;
padding: 10px;
color: #3a383d;
text-transform: uppercase;
text-align: center;

}

.gallery-image {

margin: 10px;
position: relative;
text-align: center;
    -webkit-flex-basis: 300px;
-moz-flex-basis: 300px;
flex-basis: 300px;

} 

.post-header {       

/*kujundus*/

font-family: "Open Sans", sans-serif;
font-weight: 700;
font-size: 22px;
letter-spacing: 3px;
line-height: 24px;
color: #ffffff;
text-transform: uppercase;
text-shadow: 3px 3px 9px #111111;

   /*positsioneerimine*/

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}
.gallery-links {

display: flex;
flex-flow: row wrap;
display: -webkit-flex;
-webkit-flex-flow: row wrap;
display: -moz-flex;
-moz-flex-flow: row wrap;
justify-content: center;
-o-flex-flow: row wrap;
justify-content: center;

}

.Spork {
    margin: 30px;
    font-family: "Gentium Basic", sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: black;

}
.Spork h4 {
    font-family: "Gentium Basic", sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase;
    
}
.Spork img {
    width: 200px;
    height: auto;
    float: right;
    margin-right: 150px;
    padding: 20px;
}

.Spork a {
    color: black;
    font-weight: bold;
}



@media only screen and (min-width: 950px) {   

header .header-banner {

      height: calc(100vh - 400px);

}   

header h1 a {

      font-size: 80px;

}  

header h2 {

      font-size: 24px;
      margin-top: 20px;

}

header nav ul li {

       padding: 16px 42px;

}

}
@media only screen and (min-width: 950px) {

.disclaimer {

      display: block;
      height: 300px;
      width: 45%;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 2px;
      line-height: 24px;
      color: #ffffff;
      text-transform: uppercase;
      float: left;
      margin: 0 80px;

}

.alla  {
    width:100%;
    height:40px;
    position:relative;
    float:left;
    border: none;
    bottom: -webkit-calc(-100% + 40px);
    bottom:calc(-100% + 40px);
    text-align: center;
   
    


}
    header h1 {
        
font-size: 100px;

}
.footer-links{
    width: 25%;
}
.footer-sm {

width: 15%;
float: right;
line-height: 50px;
text-align: right;
}
footer ul li p {
    font-size: 18px;
}

footer ul li a {
    font-size: 18px;
}

}




